h1 {
    font-size: 50px;
    text-align: center;
}

p {
    text-align: center;
    font-size: 25px;
}

#next1 {
    position: relative;
    right: -500px;
}
img {
    position: relative;
    right: -450px;
}